/* A bit of styling for the whole page */

* {
    padding: 5px;
    background-color: honeydew;
    font-family: "Noto Serif", "Roboto", sans-serif;
    color: #333;
}

h2 {
    text-align: center;
}

.pad {
    width: 80%;
    margin: 0 auto;
}
